h1{
    text-align: center;
    text-decoration: underline wavy black;
    font-family: sans;
    font-size: 50px;
}
table{
    margin: auto;
}
div.cian{
    padding: 1px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 70px;
    margin: 30px;
    background-color: lightseagreen;
    color: white;
    text-align: center;
    font-family: sans;
}
div.rosa{
    background-color: fuchsia;
    padding: 1px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 70px;
    margin: 30px;
    color: white;
    font-family: sans;
}
div.azul{
    background-color: rgb(0, 0, 130);
    padding: 1px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 70px;
    margin: 30px;
    color: white;
    font-family: sans;
}
body{
    background-color: rgb(57, 57, 57);
}
#bt1{
    text-align: center;
    background: linear-gradient(136deg, rgba(40, 101, 188, 0.543), rgba(105, 0, 119, 0.795));
    padding: 25px 55px 25px 55px;
    border-radius: 50px;
}

#bt1:hover {
    background: linear-gradient(136deg, yellow, green);
}

#bt2{
    text-align: center;
    background: linear-gradient(136deg, rgba(90, 128, 181, 0.543), rgba(66, 170, 90, 0.795));
    padding: 25px 55px 25px 55px;
    border-radius: 50px;
}
#bt2:hover {
    background: linear-gradient(136deg, rgb(130, 30, 30), rgb(31, 70, 31)) ;
}