.red{
    height: 200px;
    width: 900px;
    background: linear-gradient(136deg, rgb(0, 0, 116),black);
    margin: 5px;
    justify-content: space-around;
}
.blue{
    height: 200px;
    width: 900px;
    background-color: rgb(255, 58, 58);
    margin: 5px
}
.yellow{
    height: 200px;
    width: 900px;
    background-color: rgb(255, 255, 58);
    margin: 5px;
}
.container{
    width: 920px;
    background-color: rgb(161, 161, 161);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.hollo{
    margin: 10px;
    border-radius: 20px;
}
.grim{
    margin: 10px;
    border-radius: 20px;
}
.resp{
    margin: 10px;
    border-radius: 20px;
}