.red{
    height: 150px;
    width: 900px;
    background-color: red;
}
.blue{
    height: 150px;
    width: 900px;
    background-color: blue;
}
.yellow{
    height: 150px;
    width: 900px;
    background-color: yellow;
}
.container{
    width: 920px;
    background-color: rgb(161, 161, 161);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}